<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootPath</key>
	<string>http://demo.strongloop.com:3010/api</string>
	<key>AppId</key>
	<string>loopback-push-notification-app</string>
	<key>AppVersion</key>
	<string>1.0.0</string>
</dict>
</plist>
